body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Added a slight transparency for a modern feel */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

label {
  margin-right: 10px;
}

select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #add8e6;
}
#weatherInfo:empty {
  background-color: white;
  display: none;
}

#weatherInfo {
  margin-top: 20px;
  background-color: lightblue;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
